.notification-enter-from,
.notification-leave-to {
    transform: scale(.875);
    opacity: 0;
}
.notification-enter-to,
.notification-leave-from {
    transform: scale(1);
    opacity: 1;
}
.notification-enter-active,
.notification-leave-active {
    transition: all 300ms ease-in-out;
}