.bottom-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 15px 15px var(--main-offset-bottom) 15px;
	width: calc(100% - 30px);
	z-index: 99;
	background: #0a0a0c;
}
.bottom-menu .menu-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
