.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    border-bottom: 4px solid rgb(88 93 110 / 10%);
    background-color: #121219;
    padding: 12px 0 12px 0;
}
.item.my-item {
    position: sticky;
    overflow-anchor: none;
    bottom: 0;
    left: 0;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
}
.item .left-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}
.item .left-block .place {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.item .left-block .place .num {
    font-weight: 600;
    font-size: 20px;
    color: #f1f1f1;
}
.item .left-block .place .place-medal {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}
.item .left-block .avatar {
    border-radius: 12px;
    width: 40px;
    height: 40px;
    background-image: url("../../../../assets/images/no-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}
.item .left-block .info {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: center;
    align-items: flex-start;
}
.item .left-block .info .name {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}
.item .left-block .info .balance {
    font-weight: 500;
    font-size: 14px;
    color: #585d6e;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 4px;
}
.item .left-block .info .balance .styled-icon {
    width: 17px;
    height: 17px;
}
.item .left-block .info .balance .amount {
    font-size: 16px;
    font-weight: 600;
    color: #585d6e;
}
.item .you-text {
    font-size: 16px;
    font-weight: 600;
    color: #d1d1d1;
    padding-right: 16px;
}