.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item .left-blocks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 8px;
    padding-right: 8px;
}
.item .left-blocks .item-icon {
    width: 40px;
    height: 40px;
    background-color: #18181f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    flex-shrink: 0;
}
.item .left-blocks .item-icon .styled-icon {
    width: 20px;
    height: 20px;
}
.item .left-blocks .info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    row-gap: 3px;
    flex-direction: column;
}
.item .left-blocks .info .title {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}
.item .left-blocks .info .description {
    font-weight: 500;
    font-size: 12px;
    color: #585d6e;
}
.item .right-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
}
.item .right-buttons .button {
    border-radius: 20px;
    width: 70px;
    height: 36px;
    transition: width 300ms ease-in-out;
}
.item .right-buttons .button:disabled {
    opacity: .35;
}
.item .right-buttons .button.button-gradient:disabled:after {
    opacity: .2 !important;
}
.item .right-buttons .button .name {
    font-weight: 600;
    font-size: 13px;
    line-height: 71%;
    text-align: center;
    color: #fff;
}
.item .right-buttons .button.button-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item .right-buttons .button.button-flex-center .styled-icon {
    width: 18px;
    height: 18px;
}
.item .right-buttons .button.button-start,
.item .right-buttons .button.button-loading,
.item .right-buttons .button.button-wait {
    background-color: #18181f;
}
.item .right-buttons .button.button-active {
    position: relative;
    background-color: #4599e6;
}
.item .right-buttons .button.button-success {
    width: 40px;
}
.item .right-buttons .button.button-wait-hours {
    width: 95px;
}
.item .right-buttons .button.button-wait-minutes {
    min-width: 70px;
    width: 70px;
}
.item .right-buttons .button.button-wait-seconds {
    min-width: 50px;
    width: 50px;
}
.item .right-buttons .button.button-wait .name {
    font-size: 12px;
}