.home-user-avatar-enter-from,
.home-user-avatar-leave-to {
    opacity: 0;
    transform: translateY(-15%);
}
.home-user-avatar-enter-to,
.home-user-avatar-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.home-user-avatar-enter-active,
.home-user-avatar-leave-active {
    transition: all 400ms ease-in-out;
}

.home-user-username-enter-from,
.home-user-username-leave-to {
    opacity: 0;
    transform: translateY(-50%);
}
.home-user-username-enter-to,
.home-user-username-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.home-user-username-enter-active,
.home-user-username-leave-active {
    transition: all 500ms ease-in-out;
}

.home-user-balance-enter-from,
.home-user-balance-leave-to {
    opacity: 0;
    transform: translateY(-60%);
}
.home-user-balance-enter-to,
.home-user-balance-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.home-user-balance-enter-active,
.home-user-balance-leave-active {
    transition: all 500ms ease-in-out;
}

.home-farm-league-enter-from,
.home-farm-league-leave-to {
    opacity: 0;
    transform: translateY(-25%);
}
.home-farm-league-enter-to,
.home-farm-league-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.home-farm-league-enter-active,
.home-farm-league-leave-active {
    transition: all 400ms ease-in-out;
}