:root {
    --donations-item-animation-ms: 200ms;
}

.item-enter-from,
.item-leave-to {
    opacity: 0;
}
.item-enter-to,
.item-leave-from {
    opacity: 1;
}
.item-enter-active,
.item-leave-active {
    transition: all var(--donations-item-animation-ms) ease-in-out;
}