.error-enter-from,
.error-leave-to {
    opacity: 0;
    transform: translateY(-5%);
}
.error-enter-to,
.error-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.error-enter-active,
.error-leave-active {
    transition: all 300ms ease-in-out;
}