.over-error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0B0B0E;
    width: 100%;
}
